<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPoolLabel">Create or edit a Pool</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pool.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pool.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="pool.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_size">Size</label>
            <input type="number" class="form-control" name="size" id="field_size"
                [(ngModel)]="pool.size"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_material">Material</label>
            <select class="form-control" id="field_material" name="material" [(ngModel)]="pool.material" >
                <option [ngValue]="null"></option>
                <option [ngValue]="materialOption.id === pool.material?.id ? pool.material : materialOption" *ngFor="let materialOption of materials; trackBy: trackMaterialById">{{materialOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_note">Note</label>
            <select class="form-control" id="field_note" name="note" [(ngModel)]="pool.note" >
                <option [ngValue]="null"></option>
                <option [ngValue]="noteOption.id === pool.note?.id ? pool.note : noteOption" *ngFor="let noteOption of notes; trackBy: trackNoteById">{{noteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
