
<div *ngIf="pool">
    <h2><span>Pool</span> {{pool.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{pool.name}}</span>
        </dd>
        <dt><span>Size</span></dt>
        <dd>
            <span>{{pool.size}}</span>
        </dd>
        <dt><span>Filter</span></dt>
        <dd>
            <div *ngIf="pool.filter">
                <a [routerLink]="['/filter', pool.filter?.id]">{{pool.filter?.id}}</a>
            </div>
        </dd>
        <dt><span>Material</span></dt>
        <dd>
            <div *ngIf="pool.material">
                <a [routerLink]="['/material', pool.material?.id]">{{pool.material?.id}}</a>
            </div>
        </dd>
        <dt><span>Note</span></dt>
        <dd>
            <div *ngIf="pool.note">
                <a [routerLink]="['/note', pool.note?.id]">{{pool.note?.id}}</a>
            </div>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pool/'+ pool.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
