<div>
    <h2>
        <span>Images</span>
        <button class="btn btn-primary float-right jh-create-entity create-image" [routerLink]="['/', { outlets: { popup: ['image-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Image
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="images">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Image</span></th>
            <th><span>Appointment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let image of images ;trackBy: trackId">
                <td><a [routerLink]="['../image', image.id ]">{{image.id}}</a></td>
                <td>
                    <a *ngIf="image.image" (click)="openFile(image.imageContentType, image.image)">
                        <img [src]="'data:' + image.imageContentType + ';base64,' + image.image" style="max-height: 30px;" alt="image image"/>
                    </a>
                    <span *ngIf="image.image">{{image.imageContentType}}, {{byteSize(image.image)}}</span>
                </td>
                <td>
                    <div *ngIf="image.appointment">
                        <a [routerLink]="['../appointment', image.appointment?.id ]" >{{image.appointment?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../image', image.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'image/'+ image.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'image/'+ image.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
