
<div *ngIf="customer">
    <h2>{{customer.firstName}} {{customer.lastName}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <table>
        <tr><td>{{customer.address1}} {{customer.address2}} {{customer.address3}}</td></tr>
        <tr><td>{{customer.city}}, {{customer.state}} {{customer.zip}}</td></tr>
        <tr><td><a href="mailto:{{customer.email}}">{{customer.email}}</a></td></tr>
        <tr><td>{{customer.phoneNumber}} {{customer.altPhoneNumber}}</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><jhi-pool></jhi-pool></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
                    replaceUrl="true"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
            </button>
        </td></tr>
        </tr>
    </table>
</div>
