
<div *ngIf="inventoryUsed">
    <h2><span>Inventory Used</span> {{inventoryUsed.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{inventoryUsed.name}}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
            <span>{{inventoryUsed.quantity}}</span>
        </dd>
        <dt><span>Inventory Item</span></dt>
        <dd>
            <div *ngIf="inventoryUsed.inventoryItem">
                <a [routerLink]="['/inventory-item', inventoryUsed.inventoryItem?.id]">{{inventoryUsed.inventoryItem?.id}}</a>
            </div>
        </dd>
        <dt><span>Note</span></dt>
        <dd>
            <div *ngIf="inventoryUsed.note">
                <a [routerLink]="['/note', inventoryUsed.note?.id]">{{inventoryUsed.note?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'inventory-used/'+ inventoryUsed.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
