<div>
    <h2>
        <span>Filters</span>
        <button class="btn btn-primary float-right jh-create-entity create-filter" [routerLink]="['/', { outlets: { popup: ['filter-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Filter
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="filters">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Type</span></th>
            <th><span>Size</span></th>
            <th><span>Model Number</span></th>
            <th><span>Brand</span></th>
            <th><span>Replaced Date</span></th>
            <th><span>Note</span></th>
            <th><span>Filter Brand</span></th>
            <th><span>Filter Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let filter of filters ;trackBy: trackId">
                <td><a [routerLink]="['../filter', filter.id ]">{{filter.id}}</a></td>
                <td>{{filter.type}}</td>
                <td>{{filter.size}}</td>
                <td>{{filter.modelNumber}}</td>
                <td>{{filter.brand}}</td>
                <td>{{filter.replacedDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="filter.note">
                        <a [routerLink]="['../note', filter.note?.id ]" >{{filter.note?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="filter.filterBrand">
                        <a [routerLink]="['../filter-brand', filter.filterBrand?.id ]" >{{filter.filterBrand?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="filter.filterType">
                        <a [routerLink]="['../filter-type', filter.filterType?.id ]" >{{filter.filterType?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../filter', filter.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'filter/'+ filter.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'filter/'+ filter.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
