<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFilterLabel">Create or edit a Filter</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!filter.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="filter.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="filter.type"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_size">Size</label>
            <input type="number" class="form-control" name="size" id="field_size"
                [(ngModel)]="filter.size"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_modelNumber">Model Number</label>
            <input type="text" class="form-control" name="modelNumber" id="field_modelNumber"
                [(ngModel)]="filter.modelNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_brand">Brand</label>
            <input type="text" class="form-control" name="brand" id="field_brand"
                [(ngModel)]="filter.brand"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                [(ngModel)]="filter.note"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_replacedDate">Replaced Date</label>
            <div class="input-group">
                <input id="field_replacedDate" type="text" class="form-control" name="replacedDate" ngbDatepicker  #replacedDateDp="ngbDatepicker" [(ngModel)]="filter.replacedDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="replacedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_filterBrand">Filter Brand</label>
            <select class="form-control" id="field_filterBrand" name="filterBrand" [(ngModel)]="filter.filterBrand" >
                <option [ngValue]="null"></option>
                <option [ngValue]="filterBrandOption.id === filter.filterBrand?.id ? filter.filterBrand : filterBrandOption" *ngFor="let filterBrandOption of filterbrands; trackBy: trackFilterBrandById">{{filterBrandOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_filterType">Filter Type</label>
            <select class="form-control" id="field_filterType" name="filterType" [(ngModel)]="filter.filterType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="filterTypeOption.id === filter.filterType?.id ? filter.filterType : filterTypeOption" *ngFor="let filterTypeOption of filtertypes; trackBy: trackFilterTypeById">{{filterTypeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
