<div class="row">
    <!--
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    -->
    <div class="col-md-9">

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <h1 class="display-4">Welcome, {{account.firstName}}!</h1>
                <p class="lead" *ngIf="employee">{{employee.company.name}} </p>
            </div>
            <!--
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"> You are logged in as user "{{account.login}}". </span>
            </div>
            -->

            <div *ngSwitchCase="false">
                <h1 class="display-4">Welcome, Pool Dude!</h1>
                <div class="alert alert-warning">
                    <a class="alert-link" (click)="login()">sign in</a>
                </div>
            </div>

            <!--
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
            -->
        </div>
    </div>
</div>
