<div>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="appointments">
        <table class="table table-striped">
            <thead>
            <tr>
            <!--<th><span>Date</span></th>-->
            <!--<th><span>End Time</span></th>-->
            <!--<th><span>Employee</span></th>-->
            <th><span>Customer</span></th>
            <th><span>Phone</span></th>
            <th><span>Pool</span></th>
             <th><span>Note</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let appointment of appointments ;trackBy: trackId">
                <!--<td>{{appointment.startTime | date:'mediumDate'}}</td>-->
                <!--<td>{{appointment.endTime | date:'mediumDate'}}</td>-->
                <!--<td>
                    <div *ngIf="appointment.employee">
                        <a [routerLink]="['../employee', appointment.employee?.id ]" >
                            {{appointment.employee?.user.firstName}}
                            {{appointment.employee?.user.lastName}}
                        </a>
                    </div>
                </td>-->
                <td>
                    <div *ngIf="appointment.pool.customer">
                        <a [routerLink]="['../customer', appointment.pool.customer?.id ]" >
                            {{appointment.pool.customer?.firstName}}
                            {{appointment.pool.customer?.lastName}}
                        </a>
                    </div>
                </td>
                <td>{{appointment.pool.customer.phoneNumber}}</td>
                <td>
                    <div *ngIf="appointment.pool">
                        <a [routerLink]="['../pool', appointment.pool?.id ]" >{{appointment.pool?.name}}</a>
                    </div>
                </td>
                <td>{{appointment.note}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../appointment', appointment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'appointment/'+ appointment.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'appointment/'+ appointment.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
